
body {
  text-align      : center;
  background-color: #38425d;
}

h1 {
  font-size  : 5rem;
  color      : white;
  text-shadow: 3px 0 #bc3270;

}

.w {
  background-image: url("images/tom1.png");
}

.a{
  background-image: url("images/tom2.png");
}

.e {
  background-image: url("https://cdn-icons-png.flaticon.com/512/1069/1069328.png");
  background-position: center;
  background-size: cover;
}

.f {
  background-image: url("https://vn-test-11.slatic.net/p/7c04e74d8cc7901cf3ddb767aabb97b8.jpg");
  background-position: center;
  background-size: cover;
}
.g {
  background-image: url("https://banner2.cleanpng.com/20200514/acq/transparent-reggae-icon-trumpet-icon-5ebcccb48400a3.7163267215894314765407.jpg");
  background-position: center;
  background-size: cover;
}


.s {
  background-image: url("images/tom3.png");
}

.d{
  background-image: url("images/tom4.png");
}

.j{
  background-image: url("images/snare.png");
}

.k {
  background-image: url("images/crash.png");
}

.l {
  background-image: url("images/kick.png");
}

.set {
  margin: 10% auto;
}

.pressed {
  box-shadow: 0 3px 4px 0 white;
  opacity   : 0.5;
}

.red {
  color: red;
}

.drum {
  outline         : none;
  border          : 10px solid #38425d;
  font-size       : 5rem;
  line-height     : 2;
  font-weight     : 900;
  color           : #bc3270;
  text-shadow     : 3px 0 white;
  border-radius   : 15px;
  display         : inline-block;
  width           : 150px;
  height          : 150px;
  text-align      : center;
  margin          : 10px;
  background-color: white;
}

