<<<<<<< HEAD
body {
  text-align      : center;
  background-color: #38425d;
}

h1 {
  font-size  : 5rem;
  color      : white;
  text-shadow: 3px 0 #bc3270;

}

.w {
  background-image: url("images/tom1.png");
}

.a {
  background-image: url("images/tom2.png");
}

.s {
  background-image: url("images/tom3.png");
}

.d {
  background-image: url("images/tom4.png");
}

.j {
  background-image: url("images/snare.png");
}

.k {
  background-image: url("images/crash.png");
}

.l {
  background-image: url("images/kick.png");
}

.set {
  margin: 10% auto;
}

.pressed {
  box-shadow: 0 3px 4px 0 white;
  opacity   : 0.5;
}

.red {
  color: red;
}

.drum {
  outline         : none;
  border          : 10px solid #38425d;
  font-size       : 5rem;
  line-height     : 2;
  font-weight     : 900;
  color           : #bc3270;
  text-shadow     : 3px 0 white;
  border-radius   : 15px;
  display         : inline-block;
  width           : 150px;
  height          : 150px;
  text-align      : center;
  margin          : 10px;
  background-color: white;
}

=======
body {
  text-align      : center;
  background-color: #38425d;
}

h1 {
  font-size  : 5rem;
  color      : white;
  text-shadow: 3px 0 #bc3270;

}

.w {
  background-image: url("images/tom1.png");
}

.a {
  background-image: url("images/tom2.png");
}

.s {
  background-image: url("images/tom3.png");
}

.d {
  background-image: url("images/tom4.png");
}

.j {
  background-image: url("images/snare.png");
}

.k {
  background-image: url("images/crash.png");
}

.l {
  background-image: url("images/kick.png");
}

.set {
  margin: 10% auto;
}

.pressed {
  box-shadow: 0 3px 4px 0 white;
  opacity   : 0.5;
}

.red {
  color: red;
}

.drum {
  outline         : none;
  border          : 10px solid #38425d;
  font-size       : 5rem;
  line-height     : 2;
  font-weight     : 900;
  color           : #bc3270;
  text-shadow     : 3px 0 white;
  border-radius   : 15px;
  display         : inline-block;
  width           : 150px;
  height          : 150px;
  text-align      : center;
  margin          : 10px;
  background-color: white;
}

>>>>>>> 2884a31763f9bede8450d3d9089ca9df8d9e043a
