img{
  height: 300px;
  width: 400px;
}
body{
  color: rgb(10, 43, 133);
}
.content1{
  display: inline-block;
  margin: 20px;
}
.content-2{
  width: 300px;
  margin: 20px;
  padding-right: 20px;
  display: inline-flex;
}
.footer{
  display: inline-flex;
}